{% extends "base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}
<div class="container">


<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="name">Product name:</label>
    <input type="name" class="form-control" name="name">
  </div>

  <div class="form-group">
    <label for="price">Product price:</label>
    <input type="price" step="0.01" name="price" class="form-control">
  </div>

  <br>
  <div class="form-group">
  <label for="description">Product description:</label><br>
  <textarea rows="4" cols="50" name="description"></textarea>
  </div>

  <br>

  <div class="form-group">
    <label for="category">Product category:</label>
    <select name="category">
        {% for category in categories %}
        <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="file">Select image to upload:</label><br>
    <input type="file" name="file" id="file">
  </div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Add product" name="submit">
    </div>
</div>
</form>

</div>

{% endblock %}
